@font-face {
  font-family: 'Silkscreen';
  src: url(./fonts/slkscr.ttf);
}

body {
  background-image: url(./img/wallpaper.gif);
}

@media (max-width: 768px) {
  
  body {
    background-image: url(./img/wallpaperphone.gif);
  }
  
}
